<a href="{{ url }}" data-rel="ajax" data-post="{{ data }}" class="cms-btn{% if active %} cms-btn-active{% endif %}{% if disabled %} cms-btn-disabled{% endif %}" data-on-success="{{ on_success }}">
    <span>
        <img
            aria-hidden="true" style="vertical-align: text-bottom" class="{{ classes }}"
            width="16" height="16" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAM9JREFUWEftlksOwCAIRPW0nsnTtnFBYqwwg/GTJnYrn+dAwRgOf/Fw/nABXArknB+mZCklOu7HsE4igdjELRwDYgIwt0U2CGI5QAG0ILYAWBBDANqNUK/0/NwAqKblthrIFABUU2lKFsKtwG8AtFK0ZaAnFvrfe+e9MlyAq8A2BYbnQNvNEoiZgLXvFIA2CAvBJi/A6hywFsvSZYRm+chAcq1jpo5eCNeDRGtCb1KxR31D7QL00NDgUHKzCdnl0rNjEosfpcCo/IzfBTiuwAuFfoQhCFHtvgAAAABJRU5ErkJggg==" alt="{{ name }}"
            title="{{ name }}">
        <span class="cms-hidden" style="display: none;">{{ name }}</span>
    </span>
</a>
